<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<?php foreach($posts as $post): ?>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<?php if ($featuredImage = $post->getFeaturedImage()): ?>
		<?php $fi= $featuredImage->getFullSizeImage() ?>
	<?php else: ?>
		<?php $fi= 'https://www.fuelsmart.co.uk/skin/frontend/smartwave/fuelsmart/images/no_thumb_block.jpg';?>
	<?php endif; ?>	
		<div class="articles" style="background: url('<?php print $fi; ?>') no-repeat; background-size: cover;">
			<div class="greyBG">
				<a href="<?php echo $post->getPermalink() ?>">
					<span><?php print $post->getData('post_title'); ?></span>
				</a>
				
				
				<a class="button" href="<?php echo $post->getPermalink() ?>">Read More</a>
			</div>
		</div>
	</div>
	<?php endforeach; ?>

<?php endif; ?>
<div class="clearfix"></div>