/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2016-03-29 14:38:37 */

    html, body { 
        font-size: 13px; 
        font-family: Open Sans;
}
html,body{color:#000000}
button.button span{
    background-color:#53b23c;
    color:#ffffff}
button.button:hover span{
    background-color:#53b23c;
}
span.new-product-icon{
}
span.sale-product-icon{
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label1, .main-nav .menu > li > a > span.cat-label.cat-label-label1,.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label1,.menu.side-menu li>a span.cat-label.cat-label-label1{
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label2, .main-nav .menu > li > a > span.cat-label.cat-label-label2,.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label2,.menu.side-menu li>a span.cat-label.cat-label-label2{
}
.header-container.type2 .top-links-container,
.header-container.type3 .top-links-container,
.header-container.type4 .top-links-container,
.header-container.type5 .top-links-container,
.header-container.type6 .top-links-container,
.header-container.type14 .top-links-container,
.header-container.type7 .top-links-container,
.header-container.type13 .top-links-container,
.header-container.type9 .top-links-container,
.header-container.type10 .top-links-container{
    background-color:#f6f6f6;
}
.header-container.type2 .main-nav .menu-wrapper,
.header-container.type3 .main-nav,
.header-container.type4 .main-nav .menu-wrapper,
.header-container.type9 .main-nav .menu-wrapper,
.header-container.type10 .header-wrapper,
.header-container.type3.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type10.sticky-header .header-wrapper{
    background-color:#0194dd;
}
.header-container.type1 .main-nav ul.menu>li>a,
.header-container.type2 .main-nav ul.menu>li>a,
.header-container.type3 .main-nav ul.menu>li>a,
.header-container.type4 .main-nav ul.menu>li>a,
.header-container.type5 .main-nav ul.menu>li>a,
.header-container.type6 .main-nav ul.menu>li>a,
.header-container.type14 .main-nav ul.menu>li>a,
.header-container.type7 .main-nav ul.menu>li>a,
.header-container.type13 .main-nav ul.menu>li>a,
.header-container.type8 .main-nav ul.menu>li>a,
.header-container.type9 .main-nav ul.menu>li>a,
.header-container.type10 .main-nav ul.menu>li>a,
.header-container.type11 .main-nav ul.menu>li>a,
.header-container.type12 .menu.side-menu>li>a{
    color:#ffffff;
}
.header-container.type1 .main-nav ul.menu>li:hover,.header-container.type1 .main-nav ul.menu>li.act,
.header-container.type2 .main-nav ul.menu>li:hover,.header-container.type2 .main-nav ul.menu>li.act,
.header-container.type3 .main-nav ul.menu>li:hover,.header-container.type3 .main-nav ul.menu>li.act,
.header-container.type4 .main-nav ul.menu>li:hover,.header-container.type4 .main-nav ul.menu>li.act,
.header-container.type5 .main-nav ul.menu>li:hover,.header-container.type5 .main-nav ul.menu>li.act,
.header-container.type6 .main-nav ul.menu>li:hover,.header-container.type6 .main-nav ul.menu>li.act,
.header-container.type14 .main-nav ul.menu>li:hover,.header-container.type14 .main-nav ul.menu>li.act,
.header-container.type7 .main-nav ul.menu>li:hover,.header-container.type7 .main-nav ul.menu>li.act,
.header-container.type13 .main-nav ul.menu>li:hover,.header-container.type13 .main-nav ul.menu>li.act,
.header-container.type8 .main-nav ul.menu>li:hover,.header-container.type8 .main-nav ul.menu>li.act,
.header-container.type9 .main-nav ul.menu>li:hover,.header-container.type9 .main-nav ul.menu>li.act,
.header-container.type10 .main-nav ul.menu>li:hover,.header-container.type10 .main-nav ul.menu>li.act,
.header-container.type11 .main-nav ul.menu>li:hover,.header-container.type11 .main-nav ul.menu>li.act,
.header-container.type12 .menu.side-menu>li:hover,.header-container.type12 .menu.side-menu>li.act{
    background-color:#026494;
}
.header-container.type1 .main-nav ul.menu>li:hover>a,.header-container.type1 .main-nav ul.menu>li.act>a,
.header-container.type2 .main-nav ul.menu>li:hover>a,.header-container.type2 .main-nav ul.menu>li.act>a,
.header-container.type3 .main-nav ul.menu>li:hover>a,.header-container.type3 .main-nav ul.menu>li.act>a,
.header-container.type4 .main-nav ul.menu>li:hover>a,.header-container.type4 .main-nav ul.menu>li.act>a,
.header-container.type5 .main-nav ul.menu>li:hover>a,.header-container.type5 .main-nav ul.menu>li.act>a,
.header-container.type6 .main-nav ul.menu>li:hover>a,.header-container.type6 .main-nav ul.menu>li.act>a,
.header-container.type14 .main-nav ul.menu>li:hover>a,.header-container.type14 .main-nav ul.menu>li.act>a,
.header-container.type7 .main-nav ul.menu>li:hover>a,.header-container.type7 .main-nav ul.menu>li.act>a,
.header-container.type13 .main-nav ul.menu>li:hover>a,.header-container.type13 .main-nav ul.menu>li.act>a,
.header-container.type8 .main-nav ul.menu>li:hover>a,.header-container.type8 .main-nav ul.menu>li.act>a,
.header-container.type9 .main-nav ul.menu>li:hover>a,.header-container.type9 .main-nav ul.menu>li.act>a,
.header-container.type10 .main-nav ul.menu>li:hover>a,.header-container.type10 .main-nav ul.menu>li.act>a,
.header-container.type11 .main-nav ul.menu>li:hover>a,.header-container.type11 .main-nav ul.menu>li.act>a,
.header-container.type12 .menu.side-menu>li:hover>a,.header-container.type12 .menu.side-menu>li.act>a{
    color:#ffffff;
}
.header-container.type1 .header .form-search #cat,
.header-container.type2 .header .form-search #cat,
.header-container.type3 .header .form-search #cat,
.header-container.type4 .header .form-search #cat,
.header-container.type5 .header .form-search #cat,
.header-container.type6 .header .form-search #cat,
.header-container.type14 .header .form-search #cat,
.header-container.type7 .header .form-search #cat,
.header-container.type13 .header .form-search #cat,
.header-container.type8 .header .form-search #cat,
.header-container.type9 .header .form-search #cat,
.header-container.type10 .header .form-search #cat,
.header-container.type11 .header .form-search #cat,
.header-container.type12 .header .form-search #cat,
.header-container.type1 .header .form-search,
.header-container.type2 .header .form-search,
.header-container.type3 .header .form-search,
.header-container.type4 .header .form-search,
.header-container.type5 .header .form-search,
.header-container.type6 .header .form-search,
.header-container.type14 .header .form-search,
.header-container.type7 .header .form-search,
.header-container.type13 .header .form-search,
.header-container.type8 .header .form-search,
.header-container.type9 .header .form-search,
.header-container.type10 .header .form-search,
.header-container.type11 .header .form-search,
.header-container.type12 .header .form-search{
    border-color:#0194dd;
}
.header-container.type1 .header .form-search:before,
.header-container.type2 .header .form-search:before,
.header-container.type3 .header .form-search:before,
.header-container.type4 .header .form-search:before,
.header-container.type5 .header .form-search:before,
.header-container.type6 .header .form-search:before,
.header-container.type14 .header .form-search:before,
.header-container.type7 .header .form-search:before,
.header-container.type13 .header .form-search:before,
.header-container.type8 .header .form-search:before,
.header-container.type9 .header .form-search:before,
.header-container.type11 .header .form-search:before,
.header-container.type12 .header .form-search:before,
.header-container.type10 .header .form-search:before{
    border-bottom-color:#0194dd;
}
.main-nav .menu>li.menu-full-width .nav-sublist-dropdown,.main-nav .menu>li.menu-static-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-static-width .nav-sublist-dropdown{
}
.footer-top{
    background-color:#4f4f4f;
}
.footer-top{
    color:#ffffff;
}
.footer-middle{
    background-color:#4f4f4f;
}
.footer-middle, .footer-middle p, .footer-middle .contact-info i{
    color:#ffffff;
}
.footer-middle-2{
    background-color:#4f4f4f;
}
.footer-bottom{
    background-color:#4f4f4f;
}
#totop{
}
#totop:hover{
}
