<?php $menuHelper = Mage::helper('megamenu'); ?>
<?php $menuData = $menuHelper->getMenuData(); extract($menuData); ?>
<div class="header-wrapper">

<div class="main-nav">
    <div class="container">   
		
        <div class="menu-wrapper">
            <div class="menu-all-pages-container">
                <ul class="menu">
                    <?php echo $menuHelper->getMenuContent(); ?>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
var SW_MENU_POPUP_WIDTH = <?php echo $_popupWidth; ?>;
//]]>
</script> 

<?php
	/*
$_categories = Mage::helper('catalog/category')->getStoreCategories();

$productspotlightimage = Mage::helper('wp_acf')->getOptionValue('product_spotlight'); 
$productspotlightimagealt = Mage::helper('wp_acf')->getOptionValue('product_spotlight_alt_text'); 
$productspotlightimagelink = Mage::helper('wp_acf')->getOptionValue('product_spotlight_url');

$salespotlightimage = Mage::helper('wp_acf')->getOptionValue('sale_spotlight'); 
$salespotlightimagealt = Mage::helper('wp_acf')->getOptionValue('sale_spotlight_url'); 
$salespotlightimagelink = Mage::helper('wp_acf')->getOptionValue('sale_spotlight_alt_text');
*/
/*
 ?>

	<nav class="primary hidden-sm hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="first-parent">
						<?php foreach ($_categories AS $category) : ?>
							<?php $children = Mage::getModel('catalog/category')->load($category->getId()); ?>
							<?php if ($category->getId() == 65 || $category->getId() == 76 || $category->getId() == 73 || $category->getId() == 14): ?>
							<?php else: ?>
							<li class="parent category-<?php print $category->getId(); ?> <?php // echo in_array($category->getId(), Mage::registry('current_category')->getPathIds()) ? 'current-cat' : '' ?>">
								<a class="main-category-anchor" data-catid="<?php print $category->getId() ?>" href="/<?php print $category->getRequestPath(); ?>">
									<?php print $category->getName(); ?>
									<?php if(count($children->getChildrenCategories())): ?>
										<span class="glyphicon glyphicon-chevron-down"></span>
									<?php endif; ?>
								</a>
								<?php if(count($children->getChildrenCategories())): ?>
									<div class="dropdown">
										<div class="col-lg-12">
											<?php // SUB MENU ?>
											<h3>Shop <?php print $category->getName(); ?></h3>
											<div class="second-parent row">
												<?php foreach ($children->getChildrenCategories() AS $chil) : ?>
													<?php $chil = Mage::getModel('catalog/category')->load($chil->getId()); 
													$thumb = $chil->getThumbnail();
													$thumbUrl = Mage::getBaseUrl('media').'catalog/category/'.$thumb;
													?>
													<div class="col-lg-2 col-md-2 col-sm-2">
														<div class="category-container">
															<a style="padding: 0px!important;" href="/<?php print $chil->getRequestPath(); ?>">
																<?php if ($thumbUrl): ?>
																	<img src="<?php echo $thumbUrl; ?>" alt="<?php print $chil->getName(); ?>" />
																<?php else: ?>
																	<img src="<?php echo $this->getSkinUrl('images/no_thumb_block.jpg'); ?>" alt="<?php print $chil->getName(); ?>" />
																<?php endif; ?>
			                                                    <span class="label"><?php print $chil->getName(); ?></span>
			                                                </a>
														</div>
													</div>
												<?php endforeach; ?>
											</div>
											<?php // END OF SUB MENU ?>
										</div>
									</div>
								<?php endif; ?>
							</li>
							<?php endif; ?>
						<?php endforeach; ?>
					</ul>
				</div>
			</div>
		</div>		
	</nav>
	
	<?php */ ?>