<?php
  
    $_productCollection=$this->getLoadedProductCollection();
	$_productCollection	->clear()
                    	->setPageSize(24)
                    	->load();
    $_helper = $this->helper('catalog/output');   
    
?>

<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

<ul class="featured-slider">

	<?php $i=0; foreach ($_productCollection as $_product): ?>
		
		<li>
			<div class="deal-item">	
				<div class="deal-item-image">					
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
						<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"  alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
					</a>
				</div>
				<?php // echo $this->getReviewsSummaryHtml($_product, false, true)?>
				<div class="product-name">
					<h5>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
						</a>
					</h5>
				</div>
				<div class="both-price-wrapper" id="<?php echo $_product->getFinalPrice(); ?>">
					<div class="price">
						<?php echo $this->getPriceHtml($_product, true) ?>
					</div>
				</div>
				
				<div class="view-product">
					<a class="button green" href="<?php echo $_product->getProductUrl() ?>">Product Details</a>
				</div>
			</div>			
		</li>
		
	<?php endforeach ?>
	
</ul>

<?php endif; ?>