<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php 
	$post = $this->getPost(); 
	$tagString = $this->getTermsAsHtml($post, 'post_tag');
?>	

<?php /* <pre><?php print_r($post); ?></pre> */ ?>

<div class="post-list-item">
	<div class="featured-image">
	<?php if ($featuredImage = $post->getFeaturedImage()): ?>
		<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="<?php echo $featuredImage->getFullSizeImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></a>
	<?php else: ?>
		<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="<?php echo $this->getSkinUrl('images/no_thumb.jpg'); ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></a>
	<?php endif; ?>	
	</div>	
	<h2><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h2>
	<?php echo $this->getBeforePostContentHtml() ?>

		<div>
		 <?php if ($post->isViewableForVisitor()): ?>
			
			<?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
				<?php echo $post->getPostExcerpt() ?>
			<?php // else: ?>
				<?php // echo $post->getPostContent() ?>
			<?php endif; ?>
		<?php else: ?>
			<?php echo $this->getPasswordProtectHtml($post) ?>
		<?php endif;  ?>
	</div>
	<?php // echo $this->getAfterPostContentHtml() ?>
	<div class="readMore text-right">
		<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
			Read More
		</a>
	</div>
</div>