<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_showcartbutton = Mage::getStoreConfig('porto_settings/category_grid/show_addtocart', $code);
    $_showcartbutton = Mage::getStoreConfig('porto_settings/category_grid/show_addtolinks', $code);
    
	if($_category->getData('seo_cat_name')){
		$title = $_category->getData('seo_cat_name');
	}else{
		$title = $_category->getName(); 
	} 
	
?>


	
	<?php if ($_imgUrl = $_category->getImageUrl()) : ?>
	<div class="category-header">
        <p class="category-image">
	        <img src="<?php print $_imgUrl; ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>" title="<?php print $this->escapeHtml($_category->getName()); ?>" />
	        
	        <div class="title-wrapper">
		        <div class="page-title category-title">
		        	<h1><?php echo $title; ?></h1>
		        	<img src="<?php echo $this->getSkinUrl('images/title_logos.png'); ?>">
		        </div>
		    </div>
	    </p>
        <?php //$_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image'); ?>
    </div>
    <?php else : ?>
	    <div class="page-title category-title">
		    <?php if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
		        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
		    <?php endif; ?>
		    <h1><?php echo $title; ?></h1>
		</div>
    <?php endif; ?>

	<?php if($_category->getData('seo_cat_intro')){ ?>
		
		<div class="seo-cat-intro">
			<?php echo $_category->getData('seo_cat_intro'); ?>
		</div>
		
		
	<?php } ?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>

<?php
    
?>
<div class="category-description std">
<?php
if(!Mage::getStoreConfig("porto_settings/category/fullwidth_description",$code)){
        if($_description=$_category->getDescription()){
   echo $_helper->categoryAttribute($_category, $_description, 'description');
?>
<?php
        }
    }

$needle = $_category->getId();

$displayContent = "86,87,88,110,111,115,119,131,116,117,118,120,121,122";
$arr = explode(',',$displayContent);
if(in_array($needle,$arr)){
	?>


<div class="row">
<div class="nationwide">
<div class="col-lg-6 col-md-6"><strong>Nationwide Delivery and Installation Service</strong>
<p>FuelSmart offer a nationwide installation service and our team of experts work quickly and effectively to install your new bunded fuel tank without causing disruption to your workforce. Our professional engineers ensure the installation process is completed safely and efficiently.&nbsp;</p>
<a class="button" href="/delivery-installation">Find Out More</a></div>
<div class="col-lg-6 col-md-6"><img alt="" src="/skin/frontend/smartwave/fuelsmart/images/nationwideBG.jpg"></div>
</div>
<div class="clearfix">&nbsp;</div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="bespoke-tanks">
<p><strong>Bespoke Fuel Tanks Available</strong></p>
<p>We’re committed to giving all our customers what they want, which is why we offer an unrivaled bespoke fuel tank design service for those who need it. Our specialised engineers don’t compromise on quality, whether you need custom fuel tanks or standard sized fuel tanks, ours are built using the same quality materials and equipment.</p>
<a class="button green" href="/contacts">Get a bespoke quote</a></div>
</div>
<div class="clearfix">&nbsp;</div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="iso-certified"><img alt="" src="/skin/frontend/smartwave/fuelsmart/images/large_iso_logo.png"> <strong> We’re ISO 9001 Certified</strong>
<p>WeldSmart are proud to be ISO 9001 certified, a guarantee that we will meet your requirements whilst complying with all relevant regulations. ISO 9001 is the global benchmark in quality management.</p>
</div>
</div>
<div class="clearfix">&nbsp;</div>
</div>

<div class="row">
<div class="call-to-action">
<div class="col-lg-12 col-md-12"><strong>To discuss your requirements with our fuel tank experts then feel free to call us today on<br><a href="tel:08000434845">0800 043 4845</a> for expert advice and guidance on all things fuel tank related.</strong> <a class="button blue" href="/about-us">About Us</a> <a class="button green" href="/contacts">Contact Us</a></div>
</div>
<div class="clearfix">&nbsp;</div>
</div>
<?php } ?>
</div>

