<?php echo $this->getChildHtml('sticky.nav') ?>
<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $custom_block = Mage::getStoreConfig('porto_settings/header/static_block', $code);
?>
<div class="header-container type9">
    <div class="top-links-container">
    <div class="top-links-container">
        <div class="top-links container">
	        <div class="row">
		        <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
		            <div class="secure-payments">
			           <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Secure Payments <img width="145" hight="18" src="<?php echo $this->getSkinUrl('images/card_icons.png'); ?>" alt="credit card logos">
			            
			        </div>
		            
		            <?php /*<?php
		                $store_currency = $this->getChildHtml('store_currency');
		                $store_language = $this->getChildHtml('store_language');
						$compare_link = $this->getChildHtml('compare_link');
		            ?>
		            <?php echo $store_currency; ?>
		            <?php if($store_currency && $store_language):?>
		            <span class="split"></span>
		            <?php endif; ?>
		            <?php echo $store_language; ?>
		            <?php if(($store_currency || $store_language) && $compare_link):?>
		            <span class="split"></span>
		            <?php endif; ?> */ ?>
		        </div>
	            
	            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
		            <ul class="top-nav">
			        	<li><a href="/about-us">About Us</a></li>
			        	<li><a href="/advice-guides">Advice &amp; Guides</a></li>
			        	<li><a href="/delivery">Delivery </a></li>
			        	<li><a href="/installation">Installation</a></li>
						<li><a href="/finance">Finance</a></li>
			        	<li><a href="/contact-us">Contact</a></li>
			        </ul>
			    </div>
	            
	            <div class="col-lg-3 col-md-3 col-sm-6">
	            	<?php echo '<div class="custom-block">'.$this->getLayout()->createBlock('cms/block')->setBlockId($custom_block)->toHtml().'</div>'; /* STATIC BLOCK porto_custom_block_for_header */ ?>
		            <?php /*<p class="welcome-msg"><?php // echo $this->getChildHtml('welcome'); ?> <?php //echo $this->getAdditionalHtml(); ?></p> */ ?>
		            <div class="clearer"></div>
	            </div>
	        </div>
        </div>
    </div>
    
    <div class="header container">
	    <div class="row">
		    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
			    	<div class="menu-icon"><a href="javascript:void(0)" title="<?php echo $this->__('Menu'); ?>"><i class="fa fa-bars"></i></a></div>

			        <a href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>" class="logo"><img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>" /></a>
			 
	        </div>
	       
		    
		    <div class="col-lg-push-4 col-lg-4 col-md-push-4 col-md-4 col-sm-6 col-xs-4">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				        <div class="row">
					        <div class="account-area">
					        <?php echo $compare_link; ?>
					            <div class="top-links-area">
					                
					                <div class="col-md-5 col-sm-5 col-xs-12 aligncenter nopaddingright">
					                	<a href="<?php echo Mage::getUrl('customer/account'); ?>">
						                	<img src="<?php echo $this->getSkinUrl('images/my_account_icon.png'); ?>" alt="my account">
						                </a>
					                </div>
					                
					                <div class="col-md-7 col-sm-7 hidden-xs nopaddingright nopaddingleft">
						                <div class="welcome">
							                <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) : 
												$customer = Mage::getSingleton('customer/session')->getCustomer();
											?>
											<span class="logged-in">
												<a href="<?php echo Mage::getUrl('customer/account'); ?>">Hello <span><?php echo $customer->getFirstname(); ?></span></a>
											</span>
											
											<small style="font-size: 10px;"><a href="<?php echo Mage::getUrl('customer/account'); ?>">My Account</a> | <a href="<?php echo Mage::getUrl('customer/account/logout'); ?>" title="Logout">Log Out</a></small>
										
											<?php else : ?>
												
												<span>
													<a href="<?php echo Mage::getUrl('customer/account'); ?>" title="Login / Register"><strong>My Account</strong></a>
													<a href="<?php echo Mage::getUrl('customer/account'); ?>" title="Login / Register">Login / Register</a>
												</span>
												
											<?php endif; ?>
										</div>
									</div>
					            </div>
					        </div>
					    </div>
			        </div>
			        
			        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				        <div class="row">
					        <div class="mini-cart-area">
						        <?php echo $this->getChildHtml('minicart'); ?>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
		    
		    <div class="col-lg-pull-4 col-lg-4 col-md-pull-4 col-md-4 col-sm-12 col-xs-12">
		        <div class="search-area">
		            <a href="javascript:void(0)" class="search-icon"><i class="icon-search"></i></a>
		            <?php echo $this->getChildHtml('topSearch'); ?>
		        
		        </div>
		    </div>
		    
			<?php //echo $this->getChildHtml("demo_header_tooltip"); ?>
        </div>
    </div>
    <?php echo $this->getChildHtml('topMenu') ?>
</div>
<?php echo $this->getChildHtml('mobile.nav') ?>


<div class="container hidden-md hidden-sm hidden-xs">
	<section class="c2a">
		<div class="col-lg-3 col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/iso_logo.png'); ?>" alt="Fully Certified & Accredited"> Fully Certified & Accredited
		</div>
		
		<div class="col-lg-3 col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/uk_icon.png'); ?>" alt=" UK Manufactured Tanks"> UK Manufactured Tanks
		</div>
		
		<div class="col-lg-3 col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/satisfaction_icon.png'); ?>" alt="Leading Supplier"> Leading Supplier
		</div>
		
		<div class="col-lg-3 col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/delivery_icon.png'); ?>" alt="Nationwide Delivery"> Nationwide Delivery
		</div>
		<div class="clearfix"></div>
	</section>
</div>	

